<cabecalho-tela-inicial></cabecalho-tela-inicial>
<nav class="navbar navbar-default">
	<ol class="navbar-menu">
		<li class="navbar-menu-item"><a id="color-links">Home</a></li> <span id="color-links" class="glyphicon glyphicon-menu-right"></span>
		<li class="navbar-menu-item"><a id="color-links">Administração</a></li> <span id="color-links" class="glyphicon glyphicon-menu-right"></span>
		<li class="navbar-menu-item"><a id="color-links">Tipo do Item</a></li> <span id="color-links" class="glyphicon glyphicon-menu-right"></span>
		<li class="navbar-menu-item active">Editar Tipo do Item</li>
	</ol>
</nav>

<div class="container">
	<a href="" class="button-other btn btn-default btn-lg pull-right" onclick="window.history.back()">Voltar</a>
	<section>
		<div class="panel panel-default">
			<div class="panel-heading" id="panel-heading">
				<h4>Editar Tipo do Item</h4>
			</div>
			<div class="panel-body">
				<form class="" action="" method="">
					<div class="row">
						<div class="form-group col-sm-4">
							<label>Código do tipo do item:</label>
							<input type="text" class="form-control" placeholder="Digite o código do tipo do item">
						</div>
						<div class="form-group col-sm-4">
							<label>Descrição: </label>
							<input type="text" class="form-control" placeholder="Digite a Descrição"> </div>
						<center>
							<label for=""> &nbsp;</label>
							<br>
							<div class="form-group col-sm-1">
								<button type="submit" class="btn btn-primary">Editar</button>
							</div>
						</center>
					</div>
				</form>
			</div>
		</div>
	</section>
</div>
<novo-menu></novo-menu>
