<div class="modal-dialog modal-md">
    <div class="modal-content">
       <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            <h4 class="modal-title">Editar Acompanhamento</h4>
        </div>
    <div class="modal-body">
       <div class="form-group">
            <label for="relato" id="titoloRelatosCD">Título do relato: </label>
            <input type="text" ng-model="uacomById.titulo" class="form-control" placeholder="Digite a título do relato" readonly/>
        </div>
        <div class="form-group">
            <label for="relato" id="titoloRelatosCD">Relato: </label>
            <textarea id="note-entity" ng-model="uacomById.relato" class="form-control" placeholder="Digite a Relato" readonly></textarea>
        </div>
        <div class="form-group">
            <label >Selecione os assunto: </label>
            <select class="form-control" ng-model="assuntosCd" ng-change="armEditAssunto(assuntosCd)" ng-options="assunto.descricao for assunto in assuntos">
                <option value="">Selecione para adicionar um assunto</option>
            </select>
        </div>
        <div class="form-group">
           <div class="row">
                <div class="form-group col-md-6" ng-repeat="assuntoSelecionado in uacomById.assuntos">
                    <label class="btn btn-primary btn-block" style="font-size: 12px;"> {{assuntoSelecionado.descricao}}</label>
                </div>
                <div class="form-group col-md-6" ng-repeat="novoAssunto in novosAssuntos">
                    <label class="btn btn-primary btn-block" style="font-size: 12px;"><strong class="glyphicon glyphicon-remove pull-left" ng-click="removerEditUacom(novoAssunto)"></strong> {{novoAssunto.descricao}}</label>
                </div>
            </div>
    </div>

        <div class="modal-footer">
            <center>
                <button type="button" class="btn btn-default " data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" ng-click="enviarEditAssunto(novosAssuntos)">Salvar alterações</button>
            </center>
        </div>
    </div>
</div>
