<!DOCTYPE html>
<html lang="pt-br" ng-app="cidadesdigitais">

<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if IE]><link rel="shortcut icon" href="css/img/globalNetwork.svg"><![endif]-->
    <link rel="icon" href="css/img/globalNetwork.ico">

    <title>Cidades Digitais</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
    <link href="css/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/angular-growl.min.css" />

    <link href="css/style/style.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div growl limit-messages="1"></div>

    <!--ng-view></ng-view-->
    <div ui-view></div>
    

    <script type="text/javascript" src="js/lib/angular.min.js"></script>
    <script type="text/javascript" src="js/lib/angular-locale_pt-br.js"></script>
    <script type="text/javascript" src="js/lib/ngMask.min.js"></script>
    <script type="text/javascript" src="js/lib/angular-animate.min.js"></script>
    <script type="text/javascript" src="js/lib/angular-cookies.min.js"></script>
    <script type="text/javascript" src="js/lib/angular-growl.min.js"></script>
    <script type="text/javascript" src="js/lib/angular-route.min.js"></script>
    <script type="text/javascript" src="js/lib/angular-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/oclazyload/1.1.0/ocLazyLoad.min.js"></script>

    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/directives/minhas-diretivas.js"></script>

    <script src="js/lib/jquery-3.3.1.min.js"></script>

    <script type="text/javascript" src="css/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>


    <script type="text/javascript" src="js/lib/jquery.maskMoney.js"></script>
    <script type="text/javascript" src="js/lib/angular.maskMoney.js"></script>
    <script type="text/javascript" src="js/lib/jquery.mask.js"></script>

    <script type="text/javascript" src="js/lib/confirmacaoSenha.js"></script>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>


    <!--Início Services-->

    <script type="text/javascript" src="js/services/service.js"></script>
    <script type="text/javascript" src="js/services/meus-servicos.js"></script>
    <script type="text/javascript" src="js/services/carga-dados-cidade-municipo-serviso.js"></script>
    <script type="text/javascript" src="js/services/filter.js"></script>
    <script type="text/javascript" src="js/services/token-interceptor.js"></script>



    <!--FIM Services-->


    <!--Início Controllers-->

    <!--INICIO-->
    <script type="text/javascript" src="js/controllers/inicio-controller.js"></script>

    <!--TELA LOGIN-->
    <!--script type="text/javascript" src="js/controllers/tela-login-controller.js"></script-->

    <!--ASSUNTO-->
    <!-- <script type="text/javascript" src="partials/administracao/assunto/add-assunto-controller.js"></script>
    <script type="text/javascript" src="partials/administracao/assunto/visu-assunto-controller.js"></script>
    <script type="text/javascript" src="partials/administracao/assunto/edit-assunto-controller.js"></script> -->

    <!--CD-->
    <!-- <script type="text/javascript" src="partials/cidadesDigitais/add-cd-controller.js"></script>
    <script type="text/javascript" src="partials/cidadesDigitais/visu-cd-controller.js"></script>
    <script type="text/javascript" src="partials/cidadesDigitais/edit-cd-controller.js"></script>

    <script type="text/javascript" src="partials/cidadesDigitais/cd-ponto-controller.js"></script>
    <script type="text/javascript" src="partials/cidadesDigitais/cd-uacom-controller.js"></script>
    <script type="text/javascript" src="partials/cidadesDigitais/cd-processo-controller.js"></script>
    <script type="text/javascript" src="partials/cidadesDigitais/cd-contato-controller.js"></script>
    
    <script type="text/javascript" src="partials/cidadesDigitais/add-edit-cd-controller.js"></script> -->
    
    


    <!--CLASSE EMPENHO-->
    <!-- <script type="text/javascript" src="partials/administracao/classeEmpenho/add-classe-empenho-controller.js"></script>
    <script type="text/javascript" src="partials/administracao/classeEmpenho/visu-classe-empenho-controller.js"></script>
    <script type="text/javascript" src="partials/administracao/classeEmpenho/edit-classe-empenho-controller.js"></script> -->

    <!--EMPENHO-->
    <!-- <script type="text/javascript" src="partials/fiscalizacao/empenho/add-empenho-controller.js"></script>
    <script type="text/javascript" src="partials/fiscalizacao/empenho/visu-empenho-controller.js"></script>
    <script type="text/javascript" src="partials/fiscalizacao/empenho/edit-empenho-controller.js"></script> -->

    <!--ENTIDADE-->
    <!-- <script type="text/javascript" src="partials/entidade/add-edit-entidades-controller.js"></script>
    <script type="text/javascript" src="partials/entidade/visu-entidade-controller.js"></script> -->
<!--    <script type="text/javascript" src="partials/entidade/edit-entidade-controller.js"></script>-->

    <!--ETAPA-->
    <!-- <script type="text/javascript" src="partials/administracao/etapa/add-etapa-controller.js"></script>
    <script type="text/javascript" src="partials/administracao/etapa/visu-etapa.controller.js"></script> -->

    <!--FATURA-->
    <!-- <script type="text/javascript" src="partials/fiscalizacao/fatura/add-fatura-controller.js"></script>
    <script type="text/javascript" src="partials/fiscalizacao/fatura/visu-fatura-controller.js"></script>
    <script type="text/javascript" src="partials/fiscalizacao/fatura/edit-fatura-controller.js"></script> -->

    <!--ITENS-->
    <!-- <script type="text/javascript" src="partials/administracao/item/add-item-controller.js"></script>
    <script type="text/javascript" src="partials/administracao/item/visu-item-controller.js"></script> -->

    <!--ITENS EMPENHO-->
    <!-- <script type="text/javascript" src="js/controllers/add-itens-empenho-controller.js"></script> -->

    <!--LOTES-->
    <!-- <script type="text/javascript" src="partials/lote/add-lote-controller.js"></script>
    <script type="text/javascript" src="partials/lote/visu-lote-controller.js"></script>
    <script type="text/javascript" src="partials/lote/edit-lote-controller.js"></script> -->

    <!--MUNICIPIO-->
    <!-- <script type="text/javascript" src="partials/administracao/municipio/add-municipio-controller.js"></script>
    <script type="text/javascript" src="partials/administracao/municipio/visu-municipio-controller.js"></script> -->

    <!--NATUREZA DESPESA-->
    <!-- <script type="text/javascript" src="partials/administracao/naturezaDespesa/add-natureza-despesa-controller.js"></script>
    <script type="text/javascript" src="partials/administracao/naturezaDespesa/visu-natureza-despesa-controller.js"></script>
    <script type="text/javascript" src="partials/administracao/naturezaDespesa/edit-natureza-despesa-controller.js"></script> -->

    <!--PAGAMENTO-->
    <!-- <script type="text/javascript" src="partials/fiscalizacao/pagamento/add-pagamento-controller.js"></script>
    <script type="text/javascript" src="partials/fiscalizacao/pagamento/visu-pagamento-controller.js"></script>
    <script type="text/javascript" src="partials/fiscalizacao/pagamento/edit-pagamento-controller.js"></script> -->

    <!--MODULO USUARIO-->
    <!-- <script type="text/javascript" src="partials/administracao/modulo/add-modulo-usuario-controller.js"></script>
    <script type="text/javascript" src="partials/administracao/modulo/visu-modulo-usuario-controller.js"></script> -->

    <!--PREFEITO-->
    <!-- <script type="text/javascript" src="partials/administracao/prefeito/add-prefeito-controller.js"></script>
    <script type="text/javascript" src="partials/administracao/prefeito/visu-prefeito-controller.js"></script> -->

    <!--PREVISAO EMPENHO-->
    <!-- <script type="text/javascript" src="partials/fiscalizacao/previsaoEmpenho/add-previsao-empenho-controller.js"></script>
    <script type="text/javascript" src="partials/fiscalizacao/previsaoEmpenho/visu-previsao-empenho-controller.js"></script>
    <script type="text/javascript" src="partials/fiscalizacao/previsaoEmpenho/edit-previsao-empenho-controller.js"></script> -->


    <!--TIPO DO ITEM-->
    <!-- <script type="text/javascript" src="partials/administracao/tipoItem/add-tipo-item-controller.js"></script>
    <script type="text/javascript" src="partials/administracao/tipoItem/visu-tipo-item-controller.js"></script> -->

    <!--TIPOLOGIA-->
    <!-- <script type="text/javascript" src="partials/administracao/tipologia/add-tipologia-controller.js"></script>
    <script type="text/javascript" src="partials/administracao/tipologia/visu-tipologia-controller.js"></script>
    <script type="text/javascript" src="partials/administracao/tipologia/edit-tipologia-controller.js"></script> -->

    <!--USUARIO-->
    <!-- <script type="text/javascript" src="partials/usuario/add-usuario-controller.js"></script>
    <script type="text/javascript" src="partials/usuario/visu-usuario-controller.js"></script>
    <script type="text/javascript" src="partials/usuario/edit-usuario-controller.js"></script> -->

    <!--CATEGORIA-->
    <!-- <script type="text/javascript" src="partials/administracao/categoria/visu-categoria-controller.js"></script> -->

    <!--CONTATOS-->
    <!-- <script type="text/javascript" src="js/controllers/add-contatos-controller.js"></script> -->

    <!--Fim Controllers-->



</body>

<!--
<footer>
    <div style="position: fixed; bottom:0; width:100%; background-color:rgba(0, 0, 0, 0.6); color:white;">
        <center>
            <p>Esse é nosso footer! Não reclame pois está em processo de desenvolvimento | &copyCopyright 2017. All rights reserved</p>
        </center>
    </div>
</footer>
-->



</html>
