<cabecalho-tela-inicial></cabecalho-tela-inicial>
<nav class="navbar navbar-default">
	<ol class="navbar-menu">
		<li class="navbar-menu-item"><a id="color-links">Home</a></li>
		<span id="color-links" class="glyphicon glyphicon-menu-right"></span>
		<li class="navbar-menu-item"><a id="color-links">Fiscalização</a></li>
		<span id="color-links" class="glyphicon glyphicon-menu-right"></span>
		<li class="navbar-menu-item"><a id="color-links">Empenho</a></li>
		<span id="color-links" class="glyphicon glyphicon-menu-right"></span>
		<li class="navbar-menu-item active">Adicionar Empenho</li>
	</ol>
</nav>

<div class="container" ng-controller="addEmpenhoController">
	<a href="" class="button-other btn btn-default btn-lg pull-right" onclick="window.history.back()">Voltar</a>
	<section>
		<div class="panel">
			<div class="panel-heading" id="panel-heading">
				<h4>Adicionar Empenho</h4>
			</div>

			<div class="panel-body">
				<form name="empenhoForm" class="addDadosEmpenho">
					<div class="row">
						<div class="form-group col-sm-4">
							<label>Previsão de Empenho:</label>
							<select class="form-control" id="tipo" ng-change="carregaPrevEmpenho(empenho.previsao_empenho_cod_previsao_empenho)" ng-model="empenho.previsao_empenho_cod_previsao_empenho" ng-required="true" ng-options="previsaoEmpenho.cod_previsao_empenho as previsaoEmpenho.cod_previsao_empenho for previsaoEmpenho in previsaoEmpenho">
                                <option value="">Selecione</option>
                            </select>
						</div>

						<div class="form-group col-sm-4">
							<label>Codigo do Empenho: </label>
							<input type="text" class="form-control" ng-model="empenho.cod_empenho" ng-required="true" placeholder="Digite o  empenho">
						</div>

						<div class="form-group col-sm-4">
							<label>Data: </label>
							<input type="date" class="form-control" ng-model="empenho.data" ng-required="true" />
						</div>
					</div>
					<div class="row">
						<div class="form-group col-sm-2">
							<label>Tipo: </label>
							<input type="text" class="form-control" id="referencia" ng-model="prevEmpenho.tipo" ng-required="true" readonly>
						</div>
						<div class="form-group col-sm-2">
							<label>Ano Referência: </label>
							<input type="text" class="form-control" id="referencia" ng-model="prevEmpenho.ano_referencia" ng-required="true" readonly>
						</div>

						<div class="form-group col-sm-4">
							<label>Código - Natureza de despesas:</label>
							<input type="text" class="form-control" id="referencia" ng-model="prevEmpenho.descricao" ng-required="true" readonly>
						</div>
						<center>
							<div class="col-sm-4">
								<label> &nbsp;</label><br>
								<button type="submit" class="btn btn-primary" ng-click="submitEmpenho(empenho)">Cadastrar</button>
							</div>
						</center>
					</div>
				</form>
			</div>
		</div>
	</section>
</div>
<novo-menu></novo-menu>
