<cabecalho-tela-inicial></cabecalho-tela-inicial>
<nav class="navbar navbar-default">
	<ol class="navbar-menu">
		<li class="navbar-menu-item"><a id="color-links" href="/inicio">Home</a></li> <span id="color-links" class="glyphicon glyphicon-menu-right"></span>
		<li class="navbar-menu-item"><a id="color-links" href="/administracao">Administração</a></li> <span id="color-links" class="glyphicon glyphicon-menu-right"></span>
		<li class="navbar-menu-item active">Etapa</li>
	</ol>

</nav>
<div class="container">
	<section>
		<a href="/addEtapa" class="botao-menu btn btn-default btn-lg"><span class="glyphicon glyphicon-plus"></span>ADICIONAR</a>
		<a href="" class="botao-voltar btn btn-default btn-lg pull-right" onclick="window.history.back()">VOLTAR</a>
	</section>
</div>
<div class="container" ng-controller="visuEtapaController">
	<section>
		<div class="panel panel-default">
			<div class="panel-heading" id="panel-heading">
				<div class="row">
					<div class="col-md-1">
						<h3 class="patern-header">Etapa</h3>
					</div>
					<div class="col-md-offset-8 col-md-4 input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
						<input type="text" class="form-control" ng-model="busca" placeholder="Procure por" />
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-striped table-bordered table-hover table-condensed">
						<thead>
							<tr class="background-starttable">
								<th>Descrição</th>
								<th>duração</th>
								<th>Ordem</th>
								<th>Setor Responsável</th>
								<th>Ações</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="etapa in etapas | filter:busca">
								<td>{{etapa.uf}}</td>
								<td>{{etapa.mp}}</td>
								<td>{{etapa.lt}}</td>
								<td>{{etapa.tf}}</td>
								<td><a href="/editEtapa" data-toggle="modal" data-target="#janela66"><span class="glyphicon glyphicon-pencil"></span></a> <a href="http://geradormemes.com/media/created/8kbx7r.jpg" class="action-button action-trash"><span class="glyphicon glyphicon-action-trash"></span></a> </td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
</div>
<novo-menu></novo-menu>
