<cabecalho-tela-inicial></cabecalho-tela-inicial>
<nav class="navbar navbar-default">
    <ol class="navbar-menu">
        <li class="navbar-menu-item"><a id="color-links" href="/inicio">Home</a></li> <span id="color-links" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item"><a id="color-links" href="/administracao">Administração</a></li> <span id="color-links" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item"><a id="color-links" href="/assunto">Assunto</a></li> <span id="color-links" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item active">Editar Assunto</li>
    </ol>
</nav>

<div class="container">
   <a href="" class="button-other btn btn-default btn-lg pull-right" onclick="window.history.back()">Voltar</a>
    <section>
        <div class="panel panel-default">
            <div class="panel-heading" id="panel-heading">
                <h4>Editar Assunto</h4>
            </div>

            <div class="panel-body" >
                <form ng-submit="editAssunto()">
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label>Código Assunto: </label> 
                            <p>{{assunto.cod_assunto}}</p>
                        </div>

                        <div class="form-group col-sm-4">
                            <label>Descrição: </label>
                            <input type="text" class="form-control" ng-model="assunto.descricao" placeholder="Digite a Descrição">
                        </div>

                        <center>
                            <div class="col-sm-1">
                                <label> &nbsp;</label><br>
                                <button type="submit" class="btn btn-primary ">Editar</button>
                            </div>
                        </center>
                        
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
<novo-menu></novo-menu>
