<cabecalho-tela-inicial></cabecalho-tela-inicial>
<nav class="navbar navbar-default">
    <ol class="navbar-menu">
        <li class="navbar-menu-item"><a id="color-links" href="/cid/inicio">Home</a></li> <span id="color-links" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item"><a id="color-links" href="/cid/entidades">Entidades</a></li> <span id="color-links" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item active">Adicionar Entidades</li>
    </ol>
</nav>
<div class="container">
    <section>
        <div class="panel panel-default">
            <div class="panel-heading" id="panel-heading">
                <h4>Adicionar Entidade</h4>
            </div>

            <div class="panel-body" id="panel-body">
                <!--<p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>-->
                
                <div growl></div>
                
                <form novalidate name="formEntidadeAdd" ng-submit="submeter()">
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label>Nome: </label>
                            <input type="text" class="form-control" name="nome" ng-model="entidade.nome" ng-required="true" placeholder="Digite o nome da empresa">
                            <!-- <span class="form-control alert-danger" ng-show="formEntidadeAdd.$submitted && formEntidadeAdd.nome.$error.required"> Nome obrigatório
                            </span>
                            <span class="form-control alert-danger" ng-show="formEntidadeAdd.$submitted && formEntidadeAdd.nome.$error.maxlength"> Tamanho máximo de 50 caracteres
                            </span> --></div>

                        <div class="form-group col-sm-2">
                            <label>CNPJ: </label>
                            <input type="text" class="form-control" name="cnpj" ng-model="entidade.cnpj" ng-required="true" placeholder="Digite o CNPJ">
                            <!-- <span class="form-control alert-danger" ng-show="formEntidadeAdd.$submitted && formEntidadeAdd.cnpj.$error.required"> CNPJ obrigatório
                            </span>
                            <span class="form-control alert-danger" ng-show="formEntidadeAdd.$submitted && formEntidadeAdd.cnpj.$error.maxlength"> Tamanho máximo de 14 caracteres
                            </span> --></div>

                        <div class="form-group col-xs-6 col-sm-3">
                            <label>Estado: </label>
                            <select id="estado" nome="uf" class="form-control form-controlComboBox" ng-model="entidade.uf" ng-required="true">
                                <option value=""></option>
                            </select>
                        </div>

                        <div class="form-group col-xs-6 col-sm-3">
                            <label>Município: </label>
                            <select id="cidade" class="form-control form-controlComboBox" nome="nome_municipio" ng-model="entidade.nome_municipio" ng-required="true">
                                <option value="">Selecione um Municipio</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-3">
                            <label>CEP: </label>
                            <input type="text" class="form-control" nome="cep" ng-model="entidade.cep" ng-required="true" placeholder="Digite o CEP">
                            <!-- <span class="form-control alert-danger" ng-show="formEntidadeAdd.$submitted && formEntidadeAdd.endereco.$error.required"> Endereço obrigatório
                            </span> --></div>

                        <div class="form-group col-xs-10 col-sm-5">
                            <label>Endereço: </label>
                            <input type="text" class="form-control" nome="endereco" ng-model="entidade.endereco" ng-required="true" placeholder="Digite o endereço">
                            <!-- <span class="form-control alert-danger" ng-show="formEntidadeAdd.$submitted && formEntidadeAdd.endereco.$error.required"> Endereço obrigatório
                            </span> --></div>

                        <div class="form-group col-xs-2 col-sm-1">
                            <label>Nº: </label>
                            <input type="text" class="form-control" nome="numero" ng-model="entidade.numero" ng-required="true" placeholder="Nº">
                            <!-- <span class="form-control alert-danger" ng-show="formEntidadeAdd.$submitted && formEntidadeAdd.numero.$error.required"> Numero obrigatório
                            </span> --></div>

                        <div class="form-group col-sm-3">
                            <label>Bairro: </label>
                            <input type="text" class="form-control" nome="bairro" ng-model="entidade.bairro" ng-required="true" placeholder="Digite o bairro">
                            <!-- <span class="form-control alert-danger" ng-show="formEntidadeAdd.$submitted && formEntidadeAdd.bairro.$error.required"> Bairro obrigatório
                            </span> --></div>

                        <div class="form-group">
                            <label>Observação: </label>
                            <textarea id="note-entity" class="form-control" ng-model="entidade.observacao" ng-required="true" placeholder="Digite a observação"></textarea>
                        </div>
                    </div>
                    <center>
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </center>
                    <br>
                </form>
            </div>
        </div>
    </section>
</div>
<novo-menu></novo-menu>

<script type="text/javascript" charset="utf-8" src="../js/services/estado-municipio-server.js"></script>