<cabecalho-tela-inicial></cabecalho-tela-inicial>
<nav class="navbar navbar-default">
    <ol class="navbar-menu">
        <li class="navbar-menu-item"><a id="corfontmenu" href="/cid/inicio">Home</a></li><span id="corfontmenu" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item"><a id="corfontmenu" href="/cid/administracao">Administração</a></li><span id="corfontmenu" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item"><a id="corfontmenu" href="/cid/etapa">Etapa</a></li><span id="corfontmenu" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item active">Adicionar Etapa</li>
    </ol>
</nav>

<div class="container">
    <section>
        <div class="painel-pid panel panel-default">
            <div class="panel-heading" id="divPanelHeadingForm">
                <h4>Adicionar Etapa</h4>
            </div>

            <div class="panel-body contact-container" id="divPanelBodyForm">
                <form novalidate name="formAddEtapa" ng-submit="submitEtapa(etapa)">
                    <div class="row">
                        <div class="form-group col-sm-3" ng-class="{ 'has-error' : formAddEtapa.descricao.$invalid && !formAddEtapa.descricao.$pristine }">
                            <label>Descrição:</label>
                            <input type="text" class="form-control" name="descricao" ng-model="etapa.descricao" placeholder="Digite a descrição" required>
                            <p ng-show="formAddEtapa.descricao.$invalid && !formAddEtapa.descricao.$pristine" class="help-block">
                                Descrição obrigatória!
                            </p>
                        </div>

                        <div class="form-group col-sm-2" ng-class="{ 'has-error' : formAddEtapa.duracao.$invalid && !formAddEtapa.duracao.$pristine }">
                            <label>Duração: </label>
                            <input type="text" class="form-control" name="duracao" ng-model="etapa.duracao" placeholder="Digite a duração" required>
                            <p ng-show="formAddEtapa.duracao.$invalid && !formAddEtapa.duracao.$pristine" class="help-block">
                                Duração obrigatória!
                            </p>
                        </div>

                        <div class="form-group col-sm-2" ng-class="{ 'has-error' : formAddEtapa.ordem.$invalid && !formAddEtapa.ordem.$pristine }">
                            <label>Ordem: </label>
                            <input type="text" class="form-control" name="ordem" ng-model="etapa.ordem" placeholder="Digite a ordem" required>
                            <p ng-show="formAddEtapa.ordem.$invalid && !formAddEtapa.ordem.$pristine" class="help-block">
                                Ordem obrigatória!
                            </p>
                        </div>

                        <div class="form-group col-sm-3" ng-class="{ 'has-error' : formAddEtapa.setorResp.$invalid && !formAddEtapa.setorResp.$pristine }">
                            <label>Setor Responsável: </label>
                            <input type="text" class="form-control" name="setorResp" ng-model="etapa.setorResp" placeholder="Digite o setor responsável" required>
                            <p ng-show="formAddEtapa.setorResp.$invalid && !formAddEtapa.setorResp.$pristine" class="help-block">
                                Setor Responsável obrigatório!
                            </p>
                        </div>

                        <center>
                            <div class="col-sm-1">
                                <label>&nbsp;</label><br>
                                <button type="submit" class="btn btn-primary" ng-disabled="formAddEtapa.$invalid">Cadastrar</button>
                            </div>
                        </center>
                        
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
<novo-menu></novo-menu>
