<cabecalho-tela-inicial></cabecalho-tela-inicial>
<nav class="navbar navbar-default">
    <ol class="navbar-menu">
        <li class="navbar-menu-item"><a id="corfontmenu" href="/cid/inicio">Home</a></li>
        <span id="corfontmenu" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item"><a id="corfontmenu" href="/cid/fiscalicacao">Fiscalização</a></li>
        <span id="corfontmenu" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item"><a id="corfontmenu" href="/cid/pagamento">Pagamento</a></li>
        <span id="corfontmenu" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item active">Adicionar Pagamento</li>
    </ol>
</nav>

<div class="container" ng-controller="addPagamentoController">
    <section>
        <div class="painel-pid panel panel-default">
            <div class="panel-heading" id="divPanelHeadingForm">
                <h4>Adicionar Pagamento</h4>
            </div>
            
            <div class="panel-body" id="divPanelBodyForm">
                <p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>
                <form novalidate name="pagamentoForm" ng-submit="submeter()">
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label>N° da ordem de transferência bancária: </label>
                            <input type="text" class="form-control" ng-model="pagamento.numOrdemTransfBanc" required placeholder="Digite o N° da nota fiscal">
                            <span class="form-control alert-danger" ng-show="pagamentoForm.$submitted && pagamentoForm.numOrdemTransfBanc.$error.required"> N° da ordem de transferência bancária obrigatório
                        </span>
                        </div>

                        <div class="form-group col-sm-4">
                            <label>Data do pagamento: </label>
                            <input type="date" class="form-control" ng-model="pagamento.datapag" required placeholder="Digite a data da nota fiscal">
                            <span class="form-control alert-danger" ng-show="pagamentoForm.$submitted && pagamentoForm.datapag.$error.required"> Data do pagamento obrigatório
                        </span>
                        </div>
                        
                        <center>
                            <div class="form-group col-sm-1">
                                <label> &nbsp;</label>
                                <br>
                                <button type="submit" class="btn btn-primary" ng-disabled="pagamentoForm.$invalid">Cadastrar</button>
                            </div>
                        </center>
                        
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
<novo-menu></novo-menu>
