<cabecalho-tela-inicial></cabecalho-tela-inicial>
<nav class="navbar navbar-default">
    <ol class="navbar-menu">
        <li class="navbar-menu-item"><a id="color-links" href="/cid/inicio">Home</a></li> <span id="color-links" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item"><a id="color-links" href="/cid/administracao">Administração</a></li> <span id="color-links" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item"><a id="color-links" href="/cid/categoria">Categoria</a></li> <span id="color-links" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item active">Adicionar Categoria</li>
    </ol>
</nav>

<div class="container">
    <section>
        <div class="panel panel-default">
            <div class="panel-heading" id="panel-heading">
                <h4>Adicionar Categoria</h4>
            </div>

            <div class="panel-body contact-container" id="panel-body">
               
                <form novalidate name="formAddCategoria" ng-submit="submitCategoria(categoria)">
                    <div class="row">
                        <div class="form-group col-sm-4" ng-class="{ 'has-error' : formAddCategoria.cod_categoria.$invalid && !formAddCategoria.cod_categoria.$pristine }">
                            <label>Código categoria: </label>
                            <input type="number" class="form-control" name="cod_categoria" ng-model="categoria.cod_categoria" placeholder="Digite o código da categoria" required>
                            <p ng-show="formAddCategoria.cod_categoria.$invalid && !formAddCategoria.cod_categoria.$pristine" class="help-block">
                                Código Categoria obrigatório!
                            </p>
                        </div>

                        <div class="form-group col-sm-4" ng-class="{ 'has-error' : formAddCategoria.descricao.$invalid && !formAddCategoria.descricao.$pristine }">
                            <label>Descrição: </label>
                            <input type="text" class="form-control" name="descricao" ng-model="categoria.descricao" placeholder="Digite a Descrição" required>
                            <p ng-show="formAddCategoria.descricao.$invalid && !formAddCategoria.descricao.$pristine" class="help-block">
                                Descrição obrigatória!
                            </p>
                        </div>

                        <center>
                            <label>&nbsp;</label><br>
                            <div class="form-group col-sm-1">
                                <button type="submit" class="btn btn-primary" ng-disabled="formAddCategoria.$invalid">Cadastrar</button>
                            </div>
                        </center>

                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
<novo-menu></novo-menu>
