<cabecalho-tela-inicial></cabecalho-tela-inicial>

<nav class="navbar navbar-default">
    <ol class="navbar-menu">
        <li class="navbar-menu-item"><a id="color-links" href="/cid/inicio">Home</a></li>
        <span id="color-links" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item"><a id="color-links" href="/cid/cd">Cidades Digitais</a></li>
        <span id="color-links" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item active">Adicionar Cidade Digital</li>
    </ol>
</nav>


<div class="container">
    <section>
        <div class="panel panel-default">
            <div class="panel-heading" id="panel-heading">
                <h4>Adicionar Cidade Digital</h4>
            </div>

            <div class="panel-body" id="panel-body">
                <form novalidate name="formAddCD" ng-submit="submite()">
                    <div class="row">

                        <div class="form-group col-sm-2">
                            <label>Estado: </label>
                            <select id="estado" name="uf" ng-change="enviarEstado(ufCd)" class="form-control form-controlComboBox" ng-model="ufCd.uf" ng-options="estado.uf as estado.nome for estado in estados"
                               requerid>
                                <option value="">Selecione Estado</option>
                            </select>
                        </div>

                        <div class="form-group col-sm-3">
                            <label>Município: </label>
                            <select id="cidade" class="form-control form-controlComboBox" name="nome_municipio" ng-model="digitalCidade.municipio_cod_ibge" ng-options="municipio.cod_ibge as municipio.nome_municipio for municipio in municipios" requerid>
                                <option value="">Selecione um Municipio</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-1">
                            <label>Lote: </label>
                            <select class="form-control" ng-model="digitalCidade.lote_cod_lote" requerid ng-options="lote.cod_lote as lote.cod_lote for lote in loteCds">
                                <option value="">Selec</option>
                            </select>
                        </div>
                  
                        <div class="form-group col-xs-5 col-sm-2">
                            <label>O.S. Proj. Executivo: </label>
                            <input type="text" class="form-control" name="os_pe" ng-model="digitalCidade.os_pe" requerid placeholder="Nº">
                        </div>
                        <div class="form-group col-xs-5 col-sm-2">
                            <label>O.S. Implementação: </label>
                            <input type="text" class="form-control" name="os_imp" ng-model="digitalCidade.os_imp" requerid placeholder="Nº">
                        </div>



                        <center>
                            <div class="col-sm-1">
                               <label> &nbsp;</label><br>
                                <button type="submit" class="btn btn-primary">Cadastrar</button>
                            </div>
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
<novo-menu></novo-menu>

