<cabecalho-tela-inicial></cabecalho-tela-inicial>
<nav class="navbar navbar-default">
    <ol class="navbar-menu">
        <li class="navbar-menu-item"><a id="color-links">Home</a></li>
        <span id="color-links" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item active">Administração</li>
    </ol>
</nav>

<div class="container">
    <div class="panel-group">
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail dropup" id="dropdown-thumbnail">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="../css/img/assuntoIcon.png">
                </a>
                <div class="caption" id="dropdown-thumbnail">
                    <a class="dropdown-toggle links-thumbnail" id="dropAssunto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Assunto</a>
                    <div class="dropdown-menu dropupAdmin" aria-labelledby="dropAssunto">
                        <ul class="nav nav-default">
                            <li id="liFisc"><a class="links-thumbnail" href="/addAssunto">Adicionar</a></li><br>
                            <li id="liFisc"><a class="links-thumbnail" href="/assunto">Visualizar</a></li><br>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail dropup" id="dropdown-thumbnail">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="../css/img/categoriasIcon.png">
                </a>
                <div class="caption" id="dropdown-thumbnail">
                    <a href="" class=" dropdown-toggle links-thumbnail" id="dropAssunto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categoria</a>
                    <div class="dropdown-menu dropupAdmin" aria-labelledby="dropAssunto">
                        <ul class="nav nav-default">
                            <li id="liFisc"><a class="links-thumbnail" href="/addCategoria">Adicionar</a></li><br>
                            <li id="liFisc"><a class="links-thumbnail" href="/categoria">Visualizar</a></li><br>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail dropup" id="dropdown-thumbnail">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="../css/img/dollar.jpg">
                </a>
                <div class="caption" id="dropdown-thumbnail">
                    <a href="" class="dropdown-toggle links-thumbnail" id="dropAssunto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Classe de Empenho</a>
                    <div class="dropdown-menu dropupAdmin" aria-labelledby="dropAssunto">
                        <ul class="nav nav-default">
                            <li id="liFisc"><a class="links-thumbnail" href="/addClasseEmpenho">Adicionar</a></li><br>
                            <li id="liFisc"><a class="links-thumbnail" href="/classeEmpenho">Visualizar</a></li><br>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail dropup" id="dropdown-thumbnail">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="../css/img/estapasIcon.png">
                </a>
                <div class="caption" id="dropdown-thumbnail">
                    <a href="" class="dropdown-toggle links-thumbnail" id="dropAssunto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Etapa</a>
                    <div class="dropdown-menu dropupAdmin" aria-labelledby="dropAssunto">
                        <ul class="nav nav-default">
                            <li id="liFisc"><a class="links-thumbnail" href="/addEtapa">Adicionar</a></li><br>
                            <li id="liFisc"><a class="links-thumbnail" href="/etapa">Visualizar</a></li><br>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail dropup" id="dropdown-thumbnail">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="../css/img/itensIcon.png">
                </a>
                <div class="caption" id="dropdown-thumbnail">
                    <a href="" class=" dropdown-toggle links-thumbnail" id="dropAssunto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Itens</a>
                    <div class="dropdown-menu dropupAdmin" aria-labelledby="dropAssunto">
                        <ul class="nav nav-default">
                            <li id="liFisc"><a class="links-thumbnail" href="/addItens">Adicionar</a></li><br>
                            <li id="liFisc"><a class="links-thumbnail" href="/itens">Visualizar</a></li><br>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail dropup" id="dropdown-thumbnail">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="../css/img/municipioIcon.png">
                </a>
                <div class="caption" id="dropdown-thumbnail">
                    <a href="" class="dropdown-toggle links-thumbnail" id="dropAssunto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Municípios</a>
                    <div class="dropdown-menu dropupAdmin" aria-labelledby="dropAssunto">
                        <ul class="nav nav-default">
                            <li id="liFisc"><a class="links-thumbnail" href="/addMunicipios">Adicionar</a></li><br>
                            <li id="liFisc"><a class="links-thumbnail" href="/municipios">Visualizar</a></li><br>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail dropup" id="dropdown-thumbnail">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="../css/img/naturezaDespesaIcon.png">
                </a>
                <div class="caption" id="dropdown-thumbnail">
                    <a href="" class="dropdown-toggle links-thumbnail" id="dropAssunto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Natureza das Despesas</a>
                    <div class="dropdown-menu dropupAdmin" aria-labelledby="dropAssunto">
                        <ul class="nav nav-default">
                            <li id="liFisc"><a class="links-thumbnail" href="/addNaturezaDespesas">Adicionar</a></li><br>
                            <li id="liFisc"><a class="links-thumbnail" href="/naturezaDespesas">Visualizar</a></li><br>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail dropup" id="dropdown-thumbnail">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="../css/img/usuarioIcon.png">
                </a>
                <div class="caption" id="dropdown-thumbnail">
                    <a href="" class="dropdown-toggle links-thumbnail" id="dropAssunto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Módulos</a>
                    <div class="dropdown-menu dropupAdmin" aria-labelledby="dropAssunto">
                        <ul class="nav nav-default">
                            <li id="liFisc"><a class="links-thumbnail" href="/addPerfilUsuario">Adicionar</a></li><br>
                            <li id="liFisc"><a class="links-thumbnail" href="/perfilUsuario">Visualizar</a></li><br>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail dropup" id="dropdown-thumbnail">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="../css/img/prefeitoIcon.jpg">
                </a>
                <div class="caption" id="dropdown-thumbnail">
                    <a href="" class="dropdown-toggle links-thumbnail" id="dropAssunto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Prefeitos</a>
                    <div class="dropdown-menu dropupAdmin" aria-labelledby="dropAssunto">
                        <ul class="nav nav-default">
                            <li id="liFisc"><a class="links-thumbnail" href="/addPrefeito">Adicionar</a></li><br>
                            <li id="liFisc"><a class="links-thumbnail" href="/prefeito">Visualizar</a></li><br>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail dropup" id="dropdown-thumbnail">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="../css/img/tipoIcon.png">
                </a>
                <div class="caption" id="dropdown-thumbnail">
                    <a href="" class="dropdown-toggle links-thumbnail" id="dropAssunto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tipologia</a>
                    <div class="dropdown-menu dropupAdmin" aria-labelledby="dropAssunto">
                        <ul class="nav nav-default">
                            <li id="liFisc"><a class="links-thumbnail" href="/addTipologia">Adicionar</a></li><br>
                            <li id="liFisc"><a class="links-thumbnail" href="/tipologia">Visualizar</a></li><br>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail dropup" id="dropdown-thumbnail">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="../css/img/tipoItemIcon.png">
                </a>
                <div class="caption" id="dropdown-thumbnail">
                    <a href="" class="dropdown-toggle links-thumbnail" id="dropAssunto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tipo do Item</a>
                    <div class="dropdown-menu dropupAdmin" aria-labelledby="dropAssunto">
                        <ul class="nav nav-default">
                            <li id="liFisc"><a class="links-thumbnail" href="/addTipoDoItem">Adicionar</a></li><br>
                            <li id="liFisc"><a class="links-thumbnail" href="/tipoDoItem">Visualizar</a></li><br>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<novo-menu></novo-menu>
