<cabecalho-tela-inicial></cabecalho-tela-inicial>
<nav class="navbar navbar-default">
    <ol class="navbar-menu">
        <li class="navbar-menu-item"><a id="corfontmenu" href="/cid/inicio">Home</a></li>
        <span id="corfontmenu" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item active">Administração</li>
    </ol>
</nav>

<div class="container">
    <div class="panel-group">

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail dropup" id="dropMenusAdmin">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="../css/img/assuntoIcon.png">
                </a>
                <div class="caption" id="dropMenusAdmin">
                    <a href="" class=" dropdown-toggle" id="dropAssunto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Assunto</a>
                    <div class="dropdown-menu dropupAdmin" aria-labelledby="dropAssunto">
                        <ul class="nav nav-default">
                            <li id="liFisc"><a id="links-thumbnail" href="/cid/addAssunto">Adicionar</a></li><br>
                            <li id="liFisc"><a id="links-thumbnail" href="/cid/assunto">Visualizar</a></li><br>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail dropup" id="dropMenusAdmin">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="../css/img/categoriasIcon.png">
                </a>
                <div class="caption" id="dropMenusAdmin">
                    <a href="" class=" dropdown-toggle" id="dropAssunto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categoria</a>
                    <div class="dropdown-menu dropupAdmin" aria-labelledby="dropAssunto">
                        <ul class="nav nav-default">
                            <li id="liFisc"><a id="links-thumbnail" href="/cid/addCategoria">Adicionar</a></li><br>
                            <li id="liFisc"><a id="links-thumbnail" href="/cid/categoria">Visualizar</a></li><br>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail dropup" id="dropMenusAdmin">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="../css/img/dollar.jpg">
                </a>
                <div class="caption" id="dropMenusAdmin">
                    <a href="" class=" dropdown-toggle" id="dropAssunto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Classe de Empenho</a>
                    <div class="dropdown-menu dropupAdmin" aria-labelledby="dropAssunto">
                        <ul class="nav nav-default">
                            <li id="liFisc"><a id="links-thumbnail" href="/cid/addClasseEmpenho">Adicionar</a></li><br>
                            <li id="liFisc"><a id="links-thumbnail" href="/cid/classeEmpenho">Visualizar</a></li><br>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail dropup" id="dropMenusAdmin">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="../css/img/estapasIcon.png">
                </a>
                <div class="caption" id="dropMenusAdmin">
                    <a href="" class=" dropdown-toggle" id="dropAssunto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Etapa</a>
                    <div class="dropdown-menu dropupAdmin" aria-labelledby="dropAssunto">
                        <ul class="nav nav-default">
                            <li id="liFisc"><a id="links-thumbnail" href="/cid/addEtapa">Adicionar</a></li><br>
                            <li id="liFisc"><a id="links-thumbnail" href="/cid/etapa">Visualizar</a></li><br>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail dropup" id="dropMenusAdmin">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="../css/img/itensIcon.png">
                </a>
                <div class="caption" id="dropMenusAdmin">
                    <a href="" class=" dropdown-toggle" id="dropAssunto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Itens</a>
                    <div class="dropdown-menu dropupAdmin" aria-labelledby="dropAssunto">
                        <ul class="nav nav-default">
                            <li id="liFisc"><a id="links-thumbnail" href="cid/addItens">Adicionar</a></li><br>
                            <li id="liFisc"><a id="links-thumbnail" href="cid/itens">Visualizar</a></li><br>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail dropup" id="dropMenusAdmin">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="../css/img/municipioIcon.png">
                </a>
                <div class="caption" id="dropMenusAdmin">
                    <a href="" class=" dropdown-toggle" id="dropAssunto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Municípios</a>
                    <div class="dropdown-menu dropupAdmin" aria-labelledby="dropAssunto">
                        <ul class="nav nav-default">
                            <li id="liFisc"><a id="links-thumbnail" href="cid/addMunicipios">Adicionar</a></li><br>
                            <li id="liFisc"><a id="links-thumbnail" href="cid/municipios">Visualizar</a></li><br>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail dropup" id="dropMenusAdmin">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="../css/img/naturezaDespesaIcon.png">
                </a>
                <div class="caption" id="dropMenusAdmin">
                    <a href="" class=" dropdown-toggle" id="dropAssunto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Natureza das Despesas</a>
                    <div class="dropdown-menu dropupAdmin" aria-labelledby="dropAssunto">
                        <ul class="nav nav-default">
                            <li id="liFisc"><a id="links-thumbnail" href="cid/addNaturezaDespesas">Adicionar</a></li><br>
                            <li id="liFisc"><a id="links-thumbnail" href="cid/naturezaDespesas">Visualizar</a></li><br>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail dropup" id="dropMenusAdmin">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="../css/img/usuarioIcon.png">
                </a>
                <div class="caption" id="dropMenusAdmin">
                    <a href="" class=" dropdown-toggle" id="dropAssunto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Perfil do Usuário</a>
                    <div class="dropdown-menu dropupAdmin" aria-labelledby="dropAssunto">
                        <ul class="nav nav-default">
                            <li id="liFisc"><a id="links-thumbnail" href="cid/addPerfilUsuario">Adicionar</a></li><br>
                            <li id="liFisc"><a id="links-thumbnail" href="cid/perfilUsuario">Visualizar</a></li><br>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail dropup" id="dropMenusAdmin">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="../css/img/prefeitoIcon.jpg">
                </a>
                <div class="caption" id="dropMenusAdmin">
                    <a href="" class=" dropdown-toggle" id="dropAssunto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Prefeitos</a>
                    <div class="dropdown-menu dropupAdmin" aria-labelledby="dropAssunto">
                        <ul class="nav nav-default">
                            <li id="liFisc"><a id="links-thumbnail" href="cid/addPrefeito">Adicionar</a></li><br>
                            <li id="liFisc"><a id="links-thumbnail" href="cid/prefeito">Visualizar</a></li><br>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail dropup" id="dropMenusAdmin">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="../css/img/tipoIcon.png">
                </a>
                <div class="caption" id="dropMenusAdmin">
                    <a href="" class=" dropdown-toggle" id="dropAssunto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tipologia</a>
                    <div class="dropdown-menu dropupAdmin" aria-labelledby="dropAssunto">
                        <ul class="nav nav-default">
                            <li id="liFisc"><a id="links-thumbnail" href="cid/addTipologia">Adicionar</a></li><br>
                            <li id="liFisc"><a id="links-thumbnail" href="cid/tipologia">Visualizar</a></li><br>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail dropup" id="dropMenusAdmin">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="../css/img/tipoItemIcon.png">
                </a>
                <div class="caption" id="dropMenusAdmin">
                    <a href="" class=" dropdown-toggle" id="dropAssunto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tipo do Item</a>
                    <div class="dropdown-menu dropupAdmin" aria-labelledby="dropAssunto">
                        <ul class="nav nav-default">
                            <li id="liFisc"><a id="links-thumbnail" href="cid/addTipoDoItem">Adicionar</a></li><br>
                            <li id="liFisc"><a id="links-thumbnail" href="cid/tipoDoItem">Visualizar</a></li><br>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<novo-menu></novo-menu>
