<cabecalho-tela-inicial></cabecalho-tela-inicial>
<nav class="navbar navbar-default">
    <ol class="navbar-menu">
        <li class="navbar-menu-item"><a id="color-links" href="/cid/inicio">Home</a></li>
        <span id="color-links" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item"><a id="color-links" href="/cid/fiscalicacao">Fiscalização</a></li>
        <span id="color-links" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item"><a id="color-links" href="/cid/pagamento">Pagamento</a></li>
        <span id="color-links" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item active">Editar Pagamento</li>
    </ol>
</nav>

<div class="container">
    <section>
        <div class="panel panel-default">
            <div class="panel-heading" id="panel-heading">
                <h4>Editar Pagamento</h4>
            </div>

            <div class="panel-body" id="panel-body">
                <form>
                    <div class="row">
                        <div class="col-sm-6 col-md-5">
                            <label>Código Ordem de Tranferência Bancária:</label>
                            <input type="number" class="form-control" placeholder="Digite o código de transferência bancária">
                        </div>
                        <div class="col-sm-3 col-md-2">
                            <label>Data Pagamento</label>
                            <input type="date" class="form-control">
                        </div>
                        <center>
                            <label> &nbsp;</label><br>
                            <div class="form-group col-sm-1">
                                <button type="submit" class="btn btn-primary">Editar</button>
                            </div>
                        </center>
                    </div>

                    <ul class="nav nav-pills nav-stacked background-navpills">
                        <li><a href="#1a" data-toggle="tab">Fatura</a></li>
                        <li><a href="#2a" data-toggle="tab">Itens</a></li>
                    </ul><br>
                </form>

                <div class="tab-content">
                    <div class="tab-pane active" id="1a">
                        <div>
                            <button type="button" class="botao-menu btn btn-default btn-xs" data-toggle="modal" data-target="#janela" id="">ADICIONAR</button>
                        </div><br>
                        <form class="modal fade" id="janela">
                            <div class="modal-dialog modal-md">
                                <div class="modal-content">
                                    <editar-fatura-pagamento></editar-fatura-pagamento>
                                </div>
                            </div>
                        </form>

                        <div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-condensed">
                                    <thead>
                                        <tr class="background-starttable">
                                            <th>Número da nota fiscal</th>
                                            <th>Código transferência bancária</th>
                                            <th class="acoes">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>TESTE</td>
                                            <td>TESTE</td>
                                            <td><a data-toggle="modal" data-target="#janela" class="botaoLupa"><span class="glyphicon glyphicon-pencil"></span></a> <a href="http://geradormemes.com/media/created/8kbx7r.jpg" class=""><span class="glyphicon glyphicon-action-trash"></span></a> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="2a">
                        <div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-condensed">
                                    <thead>
                                        <tr class="background-starttable">
                                            <th>Sequência</th>
                                            <th>Código empenho</th>
                                            <th>Número nota fiscal</th>
                                            <th>Código ordem transferência bancária</th>
                                            <th>Quantidade</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>TESTE</td>
                                            <td>TESTE</td>
                                            <td>TESTE</td>
                                            <td>TESTE</td>
                                            <td class="col-md-1"><center><input class="form-control" type="number"></center></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<novo-menu></novo-menu>
