<cabecalho-tela-inicial></cabecalho-tela-inicial>
<nav class="navbar navbar-default">
    <ol class="navbar-menu">
        <li class="navbar-menu-item"><a id="color-links" href="/cid/inicio">Home</a></li> <span id="color-links" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item"><a id="color-links" href="/cid/administracao">Administração</a></li> <span id="color-links" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item"><a id="color-links" href="/cid/itens">Itens</a></li> <span id="color-links" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item active">Editar Itens</li>
    </ol>
</nav>

<div class="container">
    <section>
        <div class="panel panel-default">
            <div class="panel-heading" id="panel-heading">
                <h4>Editar Itens</h4>
            </div>

            <div class="panel-body" id="panel-body">
                <form>
                    <div class="form-group col-md-3 col-sm-6">
                        <label>Código do Item: </label>
                        <input id="descricao" type="text" class="form-control" placeholder="Digite o código do item">
                    </div>

                    <div class="form-group col-md-3 col-sm-6">
                        <label>Código do Tipo do Item: </label>
                        <input type="text" class="form-control" placeholder="Digite o código do tipo do item">
                    </div>

                    <div class="form-group col-md-3 col-sm-6">
                        <label for="preco">Natureza da Despeza: </label>
                        <input id="preco" type="text" class="form-control" placeholder="Digite a natureza da despeza">
                    </div>

                    <div class="form-group col-md-3 col-sm-6">
                        <label>Código da Classe de Empenho: </label>
                        <input type="text" class="form-control" placeholder="Digite o código da classe de empenho">
                    </div>

                    <div class="form-group col-sm-6">
                        <label>Descrição: </label>
                        <input type="text" class="form-control" placeholder="Digite a descrição">
                    </div>

                    <div class="form-group col-md-3 col-sm-6">
                        <label>Unidade: </label>
                        <input type="text" class="form-control" placeholder="Digite a unidade">
                    </div>

                    <center>
                        <label> &nbsp;</label><br>
                        <div class="form-group col-md-3">
                            <button type="submit" class="btn btn-primary ">Editar</button>
                        </div>
                    </center>

                </form>
            </div>
        </div>
    </section>
</div>
<novo-menu></novo-menu>
