<cabecalho-tela-inicial></cabecalho-tela-inicial>
<nav class="navbar navbar-default">
    <ol  class="navbar-menu">
        <li class="navbar-menu-item"><a id="color-links" href="/cid/inicio">Home</a></li> <span id="color-links" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item"><a id="color-links" href="/cid/administracao">Administração</a></li> <span id="color-links" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item"><a id="color-links" href="/cid/perfilUsuario">perfil Usuário</a></li> <span id="color-links" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item active">Editar Perfil Usuário</li>
    </ol>
</nav>
<div class="container">
    <section>
        <div class="panel panel-default">
            <div class="panel-heading" id="panel-heading">Editar Categoria</div>
            <div class="panel-body" id="panel-body">
                <form class="" action="" method="">
                    <div class="form-group">
                        <div id="painelorganizado" class="form-group">
                           <div class="form-group col-sm-4">
                        <label for="codAssunto">Código da Categoria: </label>
                        <input type="text" class="form-control" placeholder="Digite o codigo do assunto"> </div>
                    <div class="form-group col-sm-6">
                        <label for="descricao">Descrição: </label>
                        <input type="text" class="form-control" placeholder="Digite a Descrição"> </div>
                    <div class="form-group col-sm-2">
                        <button type="submit" class="btn btn-primary ">Editar</button> </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
<novo-menu></novo-menu>