<cabecalho-tela-inicial></cabecalho-tela-inicial>
<nav class="navbar navbar-default">
    <ol class="navbar-menu">
        <li class="navbar-menu-item"><a id="corfontmenu" href="/cid/inicio">Home</a></li>
        <span id="corfontmenu" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item"><a id="corfontmenu" href="/cid/usuario">Usuario</a></li>
        <span id="corfontmenu" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item active">Visualizar Usuário</li>
    </ol>
</nav>

<div class="container">
    <section>
        <div class="painel-pid panel panel-default">
            <div id="divPanelHeadingForm" class="panel-heading">
                <h4>Vizualização Usuário</h4>
            </div>
            <div id="divPanelBodyForm" class="panel-body">

                <p ng-show="mensagem.length" class="alert alert-info alert-dismissible">{{mensagem}}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></p>
                <form name="formularioAddUsuario" ng-submit="submeter()">

                    <div class="row">
                        <div class="form-group col-md-4 col-sm-6 col-xs-12" ng-controller="visuPerfilController">
                            <label for="perfil">Perfil : </label>
                            <select class="form-control" id="perfil" name="perfil" ng-model="usuario.perfil_cod_perfil" ng-options="perfil_cod_perfil.cod_perfil as perfil_cod_perfil.descricao for perfil_cod_perfil in perfisUsuarios" required>
                                  <option value="">{{usuario.descricao}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <label for="nome">Nome : </label>
                            <input type="text" id="nome" name="nome" class="form-control" ng-model="usuario.nome" ng-maxlength="50" placeholder="Digite seu usuário" required/>
                            <span class="form-control alert-danger" ng-show="formularioAddUsuario.$submitted && formularioAddUsuario.nome.$error.required"> Nome obrigatório
                            </span>
                            <span class="form-control alert-danger" ng-show="formularioAddUsuario.$submitted && formularioAddUsuario.nome.$error.maxlength"> Tamanho máximo de 50 caracteres
                            </span>
                        </div>

                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <label for="login">Login : </label>
                            <input type="text" id="login" name="login" class="form-control" ng-model="usuario.login" ng-maxlength="45" placeholder="Digite seu login" required/>
                            <span class="form-control alert-danger" ng-show="formularioAddUsuario.$submitted && formularioAddUsuario.login.$error.required">Login obrigatório
                            </span>
                        </div>

                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <label for="email">Email : </label>
                            <input type="email" id="email" name="email" class="form-control" ng-model="usuario.email" ng-maxlength="45" placeholder="Digite seu email" required/>
                            <span class="form-control alert-danger" ng-show="formularioAddUsuario.$submitted && formularioAddUsuario.email.$error.required"> Email obrigatório
                            </span>
                        </div>


                        <div class="form-group col-sm-3">
                            <label for="telefone">Telefone : </label>
                            <input type="tel" id="telefone" name="telefone" class="form-control" ng-model="usuario.telefone" ng-maxlength="11" mask="9? 9999-9999" placeholder="Digite seu telefone" required/>
                            <span class="form-control alert-danger" ng-show="formularioAddUsuario.$submitted && formularioAddUsuario.telefone.$error.required"> Telefone obrigatório
                            </span>
                        </div>

                        <center>
                            <div class="form-group col-sm-1">
                                <label for=""> &nbsp;</label>
                                <br>
                                <button type="submit" ng-disabled="formularioAddUsuario.$invalid" class="btn btn-primary">Aplicar</button>
                            </div>
                        </center>

                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
<novo-menu></novo-menu>
