<cabecalho-tela-inicial></cabecalho-tela-inicial>
<nav class="navbar navbar-default">
    <ol class="navbar-menu">
        <li class="navbar-menu-item"><a id="corfontmenu" href="/cid/inicio">Home</a></li> <span id="corfontmenu" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item"><a id="corfontmenu" href="/cid/administracao">Administração</a></li> <span id="corfontmenu" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item"><a id="corfontmenu" href="/cid/etapa">Etapa</a></li> <span id="corfontmenu" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item active">Editar Etapa</li>
    </ol>
</nav>
<div class="container">
    <section>
        <div class="painel-pid panel panel-default">
            <div class="panel-heading" id="divPanelHeadingForm">Editar Etapa</div>
            <div class="panel-body" id="divPanelBodyForm">
                <form class="" action="" method="">
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <label for="descricao">Descrição:</label>
                            <input type="text" class="form-control" placeholder="Digite a descrição">
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="duracao">Duração: </label>
                            <input type="text" class="form-control" placeholder="Digite a duração">
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="ordem">Ordem: </label>
                            <input type="text" class="form-control" placeholder="Digite a ordem">
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="setor-responsavel">Setor Responsável: </label>
                            <input type="text" class="form-control" placeholder="Digite o setor responsável">
                        </div>
                    </div>
                    <center>
                        <div>
                            <button type="submit" class="btn btn-primary">Cadastrar</button>
                        </div>
                    </center>
                </form>
            </div>
        </div>
    </section>
</div>
<novo-menu></novo-menu>
