<cabecalho-tela-inicial></cabecalho-tela-inicial>
<nav class="navbar navbar-default">
  <ol  class="navbar-menu">
    <li class="navbar-menu-item"><a id="color-links" href="/cid/inicio">Home</a></li> <span id="color-links" class="glyphicon glyphicon-menu-right"></span>
    <li class="navbar-menu-item"><a id="color-links" href="/cid/administracao">Administração</a></li> <span id="color-links" class="glyphicon glyphicon-menu-right"></span>
    <li class="navbar-menu-item"><a id="color-links" href="/cid/prefeito">Prefeito</a></li> <span id="color-links" class="glyphicon glyphicon-menu-right"></span>
    <li class="navbar-menu-item active">Editar Prefeito</li>
  </ol>
</nav>
<div class="container">
  <section>
    <div class="panel panel-default">
      <div class="panel-heading" id="panel-heading">Editar Prefeito</div>
      <div class="panel-body" id="panel-body">
        <form class="" action="" method="">
          <div class="form-group">
            <div class="row">
              <div class="form-group col-md-4">
                <label for="codAssunto">Código do prefeito: </label>
                <input type="text" class="form-control" placeholder="Digite">
              </div>
              <div class="form-group col-md-4">
                <label for="descricao">Nome: </label>
                <input type="text" class="form-control" placeholder="Digite">
              </div>
              <div class="form-group col-md-3">
                <label for="codAssunto">CPF: </label>
                <input type="text" class="form-control" placeholder="Digite">
              </div>
              <div class="col-md-1">
                <button type="submit" class="btn btn-primary ">Editar</button>
              </div>

            </div>
            <div class="row">
              <div class="form-group col-md-4">
                <label for="codAssunto">Partido: </label>
                <input type="text" class="form-control" placeholder="Digite">
              </div>
              <div class="form-group col-md-4">
                <label for="codAssunto">Exercício: </label>
                <input type="text" class="form-control" placeholder="Digite">
              </div>
              <div class="form-group col-md-3">
                <label for="codAssunto">Município: </label>
                <input type="text" class="form-control" placeholder="Digite">
              </div>
            </div>


          </div>

        </form>
      </div>
    </div>
  </section>
</div>
<novo-menu></novo-menu>