<cabecalho-tela-inicial></cabecalho-tela-inicial>
<nav class="navbar navbar-default">
    <ol class="navbar-menu">
        <li class="navbar-menu-item"><a id="corfontmenu" href="/cid/inicio">Home</a></li> <span id="corfontmenu" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item"><a id="corfontmenu" href="/cid/fiscalicacao">Fiscalização</a></li> <span id="corfontmenu" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item"><a id="corfontmenu" href="/cid/empenho">Empenho</a></li> <span id="corfontmenu" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item active">Visualizar Empenho</li>
    </ol>
</nav>
<div class="container">
    <section>
        <div class="painel-pid panel panel-default">
            <div class="panel-heading" id="divPanelHeadingForm">
            <h4>Visualização Empenho</h4>
            </div>
            <div class="panel-body" id="divPanelBodyForm">

                <p ng-show="mensagem.length" class="alert alert-info alert-dismissible">{{mensagem}}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></p>

                <form id="estiloformEditEmpenho" name="FormEditarEmpenho" ng-submit="submeter">
                    <div class="row">
                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                            <label for="codEmpenho">Codigo do Empenho: </label>
                            <input type="text" class="form-control" nome="cod_empenho" ng-model="empenhos.cod_empenho" placeholder="Digite o codigo"> </div>
                        <div class="form-group col-md-1 col-sm-6 col-xs-12">
                            <label for="lote">Lote: </label>
                            <input type="text" class="form-control" nome="lote_cod_lote" ng-model="empenhos.lote_cod_lote" placeholder="Digite o lote"> </div>
                        <div class="form-group col-md-2 col-sm-6 col-xs-12">
                            <label for="data">Data: </label>
                            <input type="date" class="form-control" nome="data" ng-model="empenhos.data" placeholder="Digite o data"> </div>
                        <div class="form-group col-md-2 col-sm-6 col-xs-12">
                            <label for="tipo">Tipo: </label>
                            <input type="text" class="form-control" nome="tipo" ng-model="empenhos.tipo" placeholder="Digite o tipo"> </div>
                        <div class="form-group col-md-3 ">
                            <label for="Eu entendi a ">Referência: </label>
                            <input type="text" class="form-control" nome="referencia" ng-model="empenhos.ano_referencia" placeholder="Digite o referencia"> </div>
                        <div class="form-group col-md-1">
                            <label for=""> &nbsp;</label>
                            <br>
                            <button ng-disabled="FormEditarEmpenho.$invalid" ng-click="submeter(empenho)" type="submit" class="btn btn-primary ">Editar</button>
                        </div>
                    </div>
                </form>
                <div class="col-sm-2">
                        <h3><strong>Itens</strong></h3>
                    </div>
                <div class="container col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover table-condensed formatTable">
                            <thead>
                                <tr id="fundocoreditarcd">
                                    <th class="col-md-1">Tipo item</th>
                                    <th class="col-md-1">Cod. Item</th>
                                    <th class="col-md-4">Descrição do Item</th>
                                    <th class="col-md-1">Quantidade</th>
                                    <th class="col-md-1">Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr  ng-repeat="empenho in empenhos">
                                 
                                <td>{{empenho.cod_empenho}}</td>
                                <td>{{empenho.cod_item}}</td>
                                <td>{{empenho.cod_tipo_item}}</td>
                                <td>{{empenho.valor}}</td>
                                <td>{{empenho.quantidade}}</td>
                                    
                                    <td><input id="campoAdditensEmpenho" type="text" class="form-control" nome="quantidade" ng-model="itensEmpenho.quantidade" placeholder="Quantidade"></td>
                                    <td><input id="campoAdditensEmpenho" type="text" class="form-control" nome="valor" ng-model="itensEmpenho.valor" placeholder="Valor"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--
                <center>
                    <a href="/cid/empenho" class="btn btn-default pull-right">Voltar</a></center>
-->
            </div>
        </div>
    </section>
</div>
<novo-menu></novo-menu>
