<cabecalho-tela-inicial>
</cabecalho-tela-inicial>
<nav class="navbar navbar-default">
    <ol class="navbar-menu">
        <li class="navbar-menu-item"><a id="color-links" href="/cid/inicio">Home</a></li> <span id="color-links" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item"><a id="color-links" href="/cid/lotes">Lotes</a></li> <span id="color-links" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item active">Visualizar Lote</li>
    </ol>
</nav>

<section>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading" id="panel-heading">
                <h4>Visualização Lote</h4>
            </div>

            <div class="panel-body" id="panel-body">
                <form ng-submit="editLote()" name="formularioEditLote">
                    <div class="row">
                        <div class="form-group col-md-3 col-sm-6">
                            <label>N° lote: </label>
                            <p>{{lote.cod_lote}}</p>
                        </div>

                        <div class="form-group col-md-3 col-sm-6">
                            <label>Entidade: </label>
                            <select class="form-control" ng-model="lote.entidade_cnpj" ng-options="entidade.cnpj as entidade.nome for entidade in entidades">
                                <option value="">{{lote.entidade_nome}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3 col-sm-6">
                            <label>Contrato: </label>
                            <input type="text" class="form-control" ng-model="lote.contrato">
                        </div>
                    </div>
                        <div class="row">
                        <div class="form-group col-md-3 col-sm-6">
                            <label>Data início da vigência: </label>
                            <input type="date" class="form-control" ng-model="lote.dt_inicio_vig">
                        </div>

                        <div class="form-group col-md-3 col-sm-6">
                            <label>Data fim da vigência: </label>
                            <input type="date" class="form-control" ng-model="lote.dt_final_vig">
                        </div>


                        <div class="form-group col-md-3 col-sm-6">
                            <label>Data de reajuste: </label>
                            <input type="month" class="form-control" ng-model="lote.dt_reajuste">
                        </div>

                        <center>
                            <div class="col-md-1">
                                <label> &nbsp;</label>
                                <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                            </div>
                        </center>
                    </div>

                </form>

                <div>
                    <div id="tab1">
                        <br>
                        <ul class="nav nav-pills background-navpills">
                            <li><a role="presentation" href="#1a" data-toggle="tab">Itens</a></li>
                            <li><a role="presentation" href="#2a" data-toggle="tab">Previsão Empenho</a></li>
                            <li><a role="presentation" href="#3a" data-toggle="tab">Reajuste</a></li>
                        </ul>
                        <div class="tab-content clearfix">
                            <div class="tab-pane active" id="1a">
                                <br>
                                <br>
                                <div class="table-responsive">
                                    <form name="formItensLote" action="" ng-submit="addPrecoItens(item)">
                                        <table class="table table-bordered table-hover table-condensed">
                                            <thead>
                                                <tr class="background-starttable">
                                                    <th>Código Tipo Item</th>
                                                    <th>Código Item</th>
                                                    <th>Descrição</th>
                                                    <th>Preço</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="itens in itens">
                                                    <td>{{itens.tipo_item_cod_tipo_item}}</td>
                                                    <td>{{itens.cod_item}}</td>
                                                    <td>{{itens.descricao}}</td>
                                                    <td>
                                                        <input id="input-add" type="text" ng-model="itens.preco" id="preco" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </form>
                                </div>
                                <button type="button" class="btn btn-primary" ng-click="armTempItens(itens)">Salvar alterações em Itens</button>
                            </div>

                            <div class="tab-pane" id="2a">
                                <form class="modal fade" id="janela2">
                                    <div class="modal-dialog modal-md">
                                        <div class="modal-content">
                                            <!-- corpo -->
                                            <!-- footer -->
                                        </div>
                                    </div>
                                </form>
                                <br>
                                <br>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover table-condensed">
                                        <thead>
                                            <tr class="background-starttable">
                                                <th>Codigo do Prev. Empenho</th>
                                                <th>Natureza Despesa</th>
                                                <th>Data</th>
                                                <th>Tpo</th>
                                                <th>Ano Referencia</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="prevEmpenho in prevEmpenhos | filter : {'lote_cod_lote' : loteId}:false">
                                                <td>{{prevEmpenho.cod_previsao_empenho}}</td>
                                                <td>{{prevEmpenho.natureza_despesa_cod_natureza_despesa}}</td>
                                                <td>{{prevEmpenho.data | date:'dd / MM / yyyy'}}</td>
                                                <td>{{prevEmpenho.tipo}}</td>
                                                <td>{{prevEmpenho.ano_referencia}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="tab-pane" id="3a">
                                <br>
                                <button type="button" class="botao-menu btn btn-default btn-xs" data-toggle="modal" data-target="#janela3">ADICIONAR</button>
                                <editar-reajuste-lotes></editar-reajuste-lotes>
                                <br>
                                <br>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-condensed">
                                        <thead>
                                            <tr class="background-starttable">
                                                <th>Percentual de reajuste</th>
                                                <th>Ano de referência</th>
                                                <th>Ações</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="reajuste in reajustes | filter : {'lote_cod_lote' : loteId}:false">
                                                <td>{{reajuste.percentual}}<span> &#37;</span></td>
                                                <td>{{reajuste.ano_ref}}</td>
                                                <td>
                                                <a href="/cid/editarLote"><span class="glyphicon glyphicon-pencil"></span></a> 
                                                <a ng-click="removReajuste(reajuste)"><span class="glyphicon glyphicon-action-trash"></span></a> 
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<novo-menu></novo-menu>
<script type="text/javascript" src="../js/services/mask-money-service.js"></script>