<cabecalho-tela-inicial></cabecalho-tela-inicial>
<nav class="navbar navbar-default">
    <ol  class="navbar-menu">
        <li class="navbar-menu-item"><a id="color-links" href="/cid/inicio">Home</a></li> <span id="color-links" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item"><a id="color-links" href="/cid/fiscalicacao">Fiscalização</a></li> <span id="color-links" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item"><a id="color-links" href="/cid/previsaoEmpenho">Previsão de Empenho</a></li> <span id="color-links" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item active">Visualizar Previsão de Empenho</li>
    </ol>
</nav>
<div class="container">
    <section>
        <div class="panel panel-default" method="post" ng-submit="editPrevEmpenho()">
            <div class="panel-heading" id="panel-heading">Visualização Previsão de Empenho</div>
            <div class="panel-body" id="panel-body">
                <form name="editPrevEmpenhoForm">
                    <div class="row">
                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                            <label for="codEmpenho">Previsão de Empenho: </label>
                            <p>{{prevEmpenhos.cod_previsao_empenho}}</p> </div>
                        <div class="form-group col-md-2 col-sm-6 col-xs-12">
                            <label for="lote">Lote: </label>
                            <p>{{prevEmpenhos.lote_cod_lote}}</p></div>
                            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <label for="lote">Natureza: </label>
                            <p>{{prevEmpenhos.natureza_despesa_cod_natureza_despesa}}</p></div>
                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                            <label for="data">Data: </label>
                            <input type="date" class="form-control" ng-model="prevEmpenhos.data" placeholder="Digite o data"> </div>
                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                            <label for="tipo">Tipo: </label>
                            <input type="text" class="form-control" ng-model="prevEmpenhos.tipo" placeholder="Digite o tipo"> </div>
                             <div class="form-group col-md-3 col-sm-6 col-xs-12">
                            <label for="tipo">Ano referência: </label>
                            <input type="text" class="form-control" ng-model="prevEmpenhos.ano_referencia" placeholder="Digite o ano de referencia"> </div>
                    <center>
                            <div class="col-md-1">
                                <label> &nbsp;</label>
                                <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                            </div>
                        </center>
                    </div>
                </form>
                <div class="container col-sm-12">
                    <h3><strong>Itens</strong></h3>
                  <hr>
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <thead>
                            <tr class="background-starttable">
                                <th class="col-md-5">Descrição do Item</th>
                                    <th class="col-md-1">Quantidade</th>          
                                    <th class="col-md-1">Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                             <tr  ng-repeat="visuItensEmpenho in visuItensEmpenhos">
                                    <td>{{visuItensEmpenho.descricao}}</td>
                                    <td><input id="input-add" type="text" class="form-control" nome="quantidade" ng-model="visuItensEmpenho.quantidade" placeholder="Quantidade"></td>
                                    <td><input id="input-add" type="text" class="form-control" nome="valor" ng-model="visuItensEmpenho.valor" placeholder="Valor"></td>
                                </tr>
                        </tbody>
                    </table>
                        <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                </div>

            </div>
        </div>
    </section>
</div>
<novo-menu></novo-menu>