<cabecalho-tela-inicial></cabecalho-tela-inicial>
<nav class="navbar navbar-default">
    <ol class="navbar-menu">
        <li class="navbar-menu-item"><a id="corfontmenu" href="/cid/inicio">Home</a></li> <span id="corfontmenu" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item"><a id="corfontmenu" href="/cid/administracao">Administração</a></li> <span id="corfontmenu" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item"><a id="corfontmenu" href="/cid/assunto">Assunto</a></li> <span id="corfontmenu" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item active">Editar Assunto</li>
    </ol>
</nav>

<div class="container">
    <section>
        <div class="painel-pid panel panel-default">
            <div class="panel-heading" id="divPanelHeadingForm">
                <h4>Editar Assunto</h4>
            </div>

            <div class="panel-body" id="divPanelBodyForm">
                <form>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label>Código Assunto: </label>
                            <input type="number" class="form-control" placeholder="Digite o código do assunto">
                        </div>

                        <div class="form-group col-sm-4">
                            <label>Descrição: </label>
                            <input type="text" class="form-control" placeholder="Digite a Descrição">
                        </div>

                        <center>
                            <div class="col-sm-1">
                                <label for=""> &nbsp;</label><br>
                                <button type="submit" class="btn btn-primary ">Editar</button>
                            </div>
                        </center>
                        
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
<novo-menu></novo-menu>
