<cabecalho-tela-inicial></cabecalho-tela-inicial>
<nav class="navbar navbar-default">
  <ol  class="navbar-menu">
    <li class="navbar-menu-item"><a id="color-links" href="/cid/inicio">Home</a></li>
    <span id="color-links" class="glyphicon glyphicon-menu-right"></span>
    <li class="navbar-menu-item"><a id="color-links" href="/cid/administracao">Administração</a></li>
    <span id="color-links" class="glyphicon glyphicon-menu-right"></span>
    <li class="navbar-menu-item active">Natureza de Despesas</li>
  </ol>
</nav>


<div class="container">
  <section>

    <a href="/cid/addNaturezaDespesas" class="botao-menu btn btn-default btn-lg"><span class="glyphicon glyphicon-plus"></span>ADICIONAR</a>

  </section>
</div>

<div class="container" ng-controller="visuNaturezaDespController">
  <section>
    <div class="panel panel-default">
      <div class="panel-heading" id="panel-heading">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="patern-header">Natureza de Despesas</h3>
                    </div>
                    <div class="col-md-offset-7 col-md-5 input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                        <input type="text" class="form-control" ng-model="busca" placeholder="Procure por" />
                    </div>
                </div>
            </div>
      <div class="panel-body" id="panel-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover table-condensed">

            <thead>
              <tr class="background-starttable">
                <th>Codigo de Classificação</th>
                <th>Descrição</th>
                <th >Ações</th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="naturezaDesp in naturezaDesps | filter:busca">
                <td>{{naturezaDesp.uf}}</td>
                <td>{{naturezaDesp.mp}}</td>
                <td><a href="/cid/editNaturezaDespesas" data-toggle="modal" data-target="#janela66" ><span class="glyphicon glyphicon-pencil"></span></a>
                  <a href="http://geradormemes.com/media/created/8kbx7r.jpg" class="action-button action-trash"><span class="glyphicon glyphicon-action-trash"></span></a>
                </td>
              </tr>

            </tbody>


          </table>
        </div>

      </div>
    </div>
  </section>

</div>
<novo-menu></novo-menu>