<nav class="navbar navbar-default">
	<div class="navbar-header">
		<div class="header-otherscreens">Sistema de Gestão Cidades Digitais </div>
	</div>
</nav>
<div class="container login-container">
	<div class="panel-heading" id="panel-heading">
		<h3>Faça seu Login</h3>
	</div>
	<div class="panel-body" id="panel-body">
		
			<form class="form-group" action="" method="">
				<img src="css/img/cd.png" class="login-logo">
				<div class="form-group inner-addon left-addon">
					<i class="glyphicon glyphicon-user"></i>
					<input type="text" class="form-control" placeholder="Login" required>
				</div>
				<div class="form-group inner-addon left-addon">
					<i class="glyphicon glyphicon-lock"></i>
					<input type="password" class="form-control" placeholder="Senha" required>
				</div>
				<div class="form-group-Cb">
					<a href="http://www.redecaminhodedeus.com.br/maravista/images/stories/food/EnConstrucao.png" class="login-forgotPassword">Esqueceu sua senha?</a>
				</div>
				<div class="form-group">
					<input type="checkbox"><label for="">&nbsp;&nbsp;Lembrar-me</label>
				</div>
				<div class="login-button">
					<button type="submit" formaction="/cid/inicio" class="btn btn-default btn-block">ENTRAR</button>
				</div>
			</form>

	</div>
</div>


<!--
<nav class="navbar navbar-default">
	<div class="navbar-header">
		<div class="header-otherscreens">Sistema de Gestão Cidades Digitais </div>
	</div>
</nav>
<div>
    <form>
		<div class="panel panel-default">
			<div class="panel-heading" id="panel-heading"><b>Faça seu login</b></div>
			<div class="panel-body">
				<div class="form-group has-primary has-feedback">
					<input type="text" class="form-control" name="login" id="login" aria-describedby="login" placeholder="Login" required>
					<span class="glyphicon glyphicon-user form-control-feedback" aria-hidden="true"></span>
				</div>
				<div class="form-group has-primary has-feedback">
					<input type="password" class="form-control" name="password" id="password" aria-describedby="password" placeholder="Senha" required>
					<span class="glyphicon glyphicon-lock form-control-feedback" aria-hidden="true"></span>
				</div>
			</div>
		</div>
	</form>
</div>



<div class="container ">
	<div class="panel-heading" id="panel-heading">
		<h3>Faça seu Login</h3>
	</div>
	<div class="panel-body" id="panel-body">
		<section>
			<form class="form-group" action="" method="">
			
				<div class="form-group inner-addon left-addon">
					<i class="glyphicon glyphicon-user"></i>
					<input type="text" class="form-control" placeholder="Login" required>
				</div>
				<div class="form-group inner-addon left-addon">
					<i class="glyphicon glyphicon-lock"></i>
					<input type="password" class="form-control" placeholder="Senha" required>
				</div>
				<div class="form-group-Cb">
					<a href="http://www.redecaminhodedeus.com.br/maravista/images/stories/food/EnConstrucao.png" class="login-forgotPassword">Esqueceu sua senha?</a>
				</div>
				<div class="form-group">
					<input type="checkbox"><label for="">&nbsp;&nbsp;Lembrar-me</label>
				</div>
				<div class="login-button">
					<button type="submit" formaction="/cid/inicio" class="btn btn-default btn-block">ENTRAR</button>
				</div>
				
			</form>
		</section>
	</div>
</div>

-->
