<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/cid/inicio" class="header-otherscreens">Sistema de Gestão Cidades Digitais </a>
        </div>
    </div>
</nav>
<div class="container" id="container-telaLogin">
    <div class="panel-heading" id="divPanelHeadingForm">
    <h3>Faça seu Login</h3>
    </div>
    <div class="panel-body" id="divPanelBodyForm">
        <section>
            <form class="form-group" action="" method="">
                <img src="css/img/CDImagemBlack.png" id="img-cdTelaLogin">

                <div class="form-group inner-addon left-addon">
                    <i class="glyphicon glyphicon-user"></i>
                    <input type="text" class="form-control" placeholder="Login" required>
                </div>
                <div class="form-group inner-addon left-addon">
                    <i class="glyphicon glyphicon-lock"></i>
                    <input type="password" class="form-control" placeholder="Senha" required>
                </div>
                <div class="form-group-Cb">
                    <a href="http://www.redecaminhodedeus.com.br/maravista/images/stories/food/EnConstrucao.png" class="forgot-password">Esqueceu sua senha?</a>
                </div>
                <div class="form-group">
                    <input type="checkbox"><label for="">&nbsp;&nbsp;Lembrar-me</label>
                </div>
                <div class="botao-login">
                    <button type="submit" formaction="/cid/inicio" class="btn btn-default btn-block">ENTRAR</button>
                </div>
            </form>
        </section>
    </div>
</div>
<div>
</div>