<cabecalho-tela-inicial></cabecalho-tela-inicial>
<nav class="navbar navbar-default">
    <ol class="navbar-menu">
        <li class="navbar-menu-item"><a id="corfontmenu" href="/cid/inicio">Home</a></li>
        <span id="corfontmenu" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item active">Usuários</li>
    </ol>
</nav>

<div class="container">
    <section>
        <a href="/cid/addUsuario" class="botao-menu btn btn-default btn-lg"><span class="glyphicon glyphicon-plus"></span>ADICIONAR</a>
    </section>
</div>

<div class="container">
    <section>
        <div class="painel-pid panel panel-default">
            <div class="panel-heading" id="divPanelHeadingForm">
                <div class="row">
                    <div class="col-md-1">
                        <h3 id="padraoCabecalho">Usuários</h3>
                    </div>
                    <div class="col-md-offset-8 col-md-4 input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                        <input type="text" class="form-control" ng-model="busca" placeholder="Procure por" />
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                     <p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>
                    <table class="table table-striped table-bordered table-hover table-condensed">

                        <thead>
                            <tr id="fundocoreditarcd">
                                <th>Nome</th>
                                <th>Login</th>
                                <th>Email</th>
                                <th>Telefone</th>
                                <th>Perfil</th>
                                <th>Ações</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-class="selecionado" ng-repeat="usuario in usuarios | filter:busca">
                                <td>{{usuario.nome}}</td>
                                <td>{{usuario.login}}</td>
                                <td>{{usuario.email}}</td>
                                <td>{{usuario.telefone}}</td>
                                <td>{{usuario.descricao}}</td>
                                <td><a href="/cid/editUsuario/{{usuario.cod_usuario}}" class="action-button"><span class="glyphicon glyphicon-search"></span></a>
                                    <a ng-click="remover(usuario)" class="action-button -trash"><span class="glyphicon glyphicon-trash"></span></a>
                                </td>
                            </tr>


                        </tbody>


                    </table>
                </div>

            </div>
        </div>
    </section>

</div>
<novo-menu></novo-menu>
