<cabecalho-tela-inicial></cabecalho-tela-inicial>
<nav class="navbar navbar-default">
    <ol class="navbar-menu">
        <li class="navbar-menu-item"><a id="color-links" href="/inicio">Home</a></li>
        <span id="color-links" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item"><a id="color-links" href="/administracao">Administração</a></li>
        <span id="color-links" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item"><a id="color-links" href="/municipios">Municípios</a></li>
        <span id="color-links" class="glyphicon glyphicon-menu-right"></span>
        <li class="navbar-menu-item active">Adicionar Município</li>
    </ol>
</nav>

<div class="container" ng-controller="addMunicipiosController">
    <a href="" class="button-other btn btn-default btn-lg pull-right" onclick="window.history.back()">Voltar</a>
    <section>
        <div class="panel panel-default">
            <div class="panel-heading" id="panel-heading">
                <h4>Adicionar Municipios</h4>
            </div>

            <div class="panel-body contact-container" >
                <form novalidate name="formAddmunicipios" ng-submit="submitMunicipios(municipio)">
                    <div class="row">
                        <div class="form-group col-sm-3" ng-class="{ 'has-error' : formAddmunicipios.cod_ibge.$invalid && !formAddmunicipios.cod_ibge.$pristine }">
                            <label>Código IBGE:</label>
                            <input type="text" class="form-control" name="cod_ibge" ng-model="municipio.cod_ibge" placeholder="Digite o código do IBGE" required>
                            <p ng-show="formAddmunicipios.cod_ibge.$invalid && !formAddmunicipios.cod_ibge.$pristine" class="help-block">
                                Código IBGE obrigatório!
                            </p>
                        </div>

                        <div class="form-group col-sm-3" ng-class="{ 'has-error' : formAddmunicipios.nome.$invalid && !formAddmunicipios.nome.$pristine }">
                            <label>Município:</label>
                            <input type="text" id="regiao" class="form-control" name="nome" ng-model="municipio.nome" placeholder="Digite o município" required>
                            <p ng-show="formAddmunicipios.nome.$invalid && !formAddmunicipios.nome.$pristine" class="help-block">
                                Município obrigatório!
                            </p>
                        </div>

                        <div class="form-group col-sm-3" ng-class="{ 'has-error' : formAddmunicipios.populacao.$invalid && !formAddmunicipios.populacao.$pristine }">
                            <label>População:</label>
                            <input type="text" id="populacao" class="form-control" name="populacao" ng-model="municipio.populacao" placeholder="Digite a população" required>
                            <p ng-show="formAddmunicipios.populacao.$invalid && !formAddmunicipios.populacao.$pristine" class="help-block">
                                População obrigatório!
                            </p>
                        </div>

                        <div class="form-group col-sm-3" ng-class="{ 'has-error' : formAddmunicipios.estado.$invalid && !formAddmunicipios.estado.$pristine }">
                            <label>Selecione o Estado:</label>
                            <select class="form-control" ng-model="municipio.estado" name="estado" ng-options="municipio.nome for municipio in municipios" required>
                                <option value="">Selecione o estado</option>
                            </select>
                            <p ng-show="formAddmunicipios.estado.$invalid && !formAddmunicipios.estado.$pristine" class="help-block">
                                Estado obrigatório!
                            </p>
                        </div>

                        <div class="form-group col-sm-3" ng-class="{ 'has-error' : formAddmunicipios.regiao.$invalid && !formAddmunicipios.regiao.$pristine }">
                            <label>Região:</label>
                            <input type="text" class="form-control" name="regiao" ng-model="municipio.regiao" placeholder="Digite a região" required>
                            <p ng-show="formAddmunicipios.regiao.$invalid && !formAddmunicipios.regiao.$pristine" class="help-block">
                                Região obrigatória!
                            </p>
                        </div>

                        <div class="form-group col-sm-3" ng-class="{ 'has-error' : formAddmunicipios.dist_cap.$invalid && !formAddmunicipios.dist_cap.$pristine }">
                            <label>Distância da Capital:</label>
                            <input type="text" class="form-control" name="dist_cap" ng-model="municipio.dist_cap" placeholder="Digite a distância da capital" required>
                            <p ng-show="formAddmunicipios.dist_cap.$invalid && !formAddmunicipios.dist_cap.$pristine" class="help-block">
                                Distância da Capital obrigatória!
                            </p>
                        </div>

                        <div class="form-group col-sm-5" ng-class="{ 'has-error' : formAddmunicipios.endereco.$invalid && !formAddmunicipios.endereco.$pristine }">
                            <label>Endereço:</label>
                            <input type="text" class="form-control" name="endereco" ng-model="municipio.endereco" placeholder="Digite o endereço" required>
                            <p ng-show="formAddmunicipios.endereco.$invalid && !formAddmunicipios.endereco.$pristine" class="help-block">
                                Endereço obrigatório!
                            </p>
                        </div>

                        <div class="form-group col-sm-1" ng-class="{ 'has-error' : formAddmunicipios.numero.$invalid && !formAddmunicipios.numero.$pristine }">
                            <label>Número:</label>
                            <input type="text" class="form-control" name="numero" ng-model="municipio.numero" placeholder="Digite o número" required>
                            <p ng-show="formAddmunicipios.numero.$invalid && !formAddmunicipios.numero.$pristine" class="help-block">
                                Número obrigatório!
                            </p>
                        </div>

                        <div class="form-group col-sm-3" ng-class="{ 'has-error' : formAddmunicipios.bairro.$invalid && !formAddmunicipios.bairro.$pristine }">
                            <label>Bairro:</label>
                            <input type="text" class="form-control" name="bairro" ng-model="municipio.bairro" placeholder="Digite o bairro" required>
                            <p ng-show="formAddmunicipios.bairro.$invalid && !formAddmunicipios.bairro.$pristine" class="help-block">
                                Bairro obrigatório!
                            </p>
                        </div>

                        <div class="form-group col-sm-3" ng-class="{ 'has-error' : formAddmunicipios.cnpj.$invalid && !formAddmunicipios.cnpj.$pristine }">
                            <label>CNPJ:</label>
                            <input type="text" class="form-control" name="cnpj" ng-model="municipio.cnpj" placeholder="Digite o CNPJ" required>
                            <p ng-show="formAddmunicipios.cnpj.$invalid && !formAddmunicipios.cnpj.$pristine" class="help-block">
                                CNPJ obrigatório!
                            </p>
                        </div>

                        <div class="form-group col-sm-3" ng-class="{ 'has-error' : formAddmunicipios.latitude.$invalid && !formAddmunicipios.latitude.$pristine }">
                            <label>Latitude:</label>
                            <input type="text" class="form-control" name="latitude" ng-model="municipio.latitude" placeholder="Digite a latitude" required>
                            <p ng-show="formAddmunicipios.latitude.$invalid && !formAddmunicipios.latitude.$pristine" class="help-block">
                                Latitude obrigatória!
                            </p>
                        </div>

                        <div class="form-group col-sm-3" ng-class="{ 'has-error' : formAddmunicipios.longitude.$invalid && !formAddmunicipios.longitude.$pristine }">
                            <label>Longitude:</label>
                            <input type="text" class="form-control" name="longitude" ng-model="municipio.longitude" placeholder="Digite a longitude" required>
                            <p ng-show="formAddmunicipios.longitude.$invalid && !formAddmunicipios.longitude.$pristine" class="help-block">
                                Longitude obrigatória!
                            </p>
                        </div>

                        <center>
                            <div>
                                <button type="submit" ng-disabled="formAddmunicipios.$invalid" class="btn btn-primary">Cadastrar</button>
                            </div>
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
<novo-menu></novo-menu>
